<ion-card>
  <ion-card-header>
    <ion-card-title>Where can I run WebAssembly</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <slide-bullet>Browsers:
      <slide-bullet>Edge <sub>after v16</sub></slide-bullet>
      <slide-bullet>Firefox <sub>after v52</sub></slide-bullet>
      <slide-bullet>Chrome <sub>after v57</sub></slide-bullet>
      <slide-bullet>Safari <sub>after v11</sub></slide-bullet>
      <slide-bullet>Opera <sub>after v44</sub></slide-bullet>
      <slide-bullet>Android browsers <sub>after v67</sub></slide-bullet>
      <slide-bullet>Chrome for Android</slide-bullet>
    </slide-bullet>
    <slide-bullet>Runtimes:
      <slide-bullet>Node</slide-bullet>
      <slide-bullet>JVM</slide-bullet>
      <slide-bullet>.NET</slide-bullet>
    </slide-bullet>
    <slide-bullet>Also:
      <slide-bullet>Embedded devices</slide-bullet>
      <slide-bullet>FPGAs</slide-bullet>
    </slide-bullet>
  </ion-card-content>
</ion-card>
