<ion-header>
  <ion-toolbar>
    <ion-title>
      Introduction to WASM
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <app-talk-title></app-talk-title>
    </ion-slide>
    <ion-slide>
      <app-what-is-wasm></app-what-is-wasm>
    </ion-slide>
    <ion-slide>
      <app-why-wasm></app-why-wasm>
    </ion-slide>
    <ion-slide>
      <app-history-of-wasm></app-history-of-wasm>
    </ion-slide>
    <ion-slide>
      <app-portability></app-portability>
    </ion-slide>
    <ion-slide>
      <app-availability></app-availability>
    </ion-slide>
    <ion-slide>
      <app-sandbox></app-sandbox>
    </ion-slide>
    <ion-slide>
      <app-whats-it-look-like></app-whats-it-look-like>
    </ion-slide>
    <ion-slide>
      <app-language-support></app-language-support>
    </ion-slide>
    <ion-slide>
      <app-wasm-package-manager></app-wasm-package-manager>
    </ion-slide>
    <ion-slide>
      <app-interlanguage-communication></app-interlanguage-communication>
    </ion-slide>
    <ion-slide>
      <app-webassembly-studio></app-webassembly-studio>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      <a href="http://www.philknows.net">Phil Denoncourt</a>
    </ion-title>
  </ion-toolbar>
</ion-footer>
