<ion-card>
  <ion-card-header>
    <ion-card-title>Language Support</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <slide-bullet>
      Via LLVM
      <slide-bullet>C</slide-bullet>
      <slide-bullet>C++</slide-bullet>
      <slide-bullet>Objective C</slide-bullet>
      <slide-bullet>Kotlin</slide-bullet>
    </slide-bullet>
    <slide-bullet>C#</slide-bullet>
    <slide-bullet>Java</slide-bullet>
    <slide-bullet>Rust</slide-bullet>
    <slide-bullet>Go</slide-bullet>
    <slide-bullet>Assembly Script</slide-bullet>
    <slide-bullet>Swift</slide-bullet>
    <slide-bullet>Forth, COBOL, Haskell, Perl, Python, Prolog, and many more</slide-bullet>
    <slide-bullet>https://github.com/appcypher/awesome-wasm-langs</slide-bullet>
  </ion-card-content>
</ion-card>
